

   body {
         font-family: 'Lato', sans-serif;
         color: rgb(51, 51, 51);
    }


    /* ------------ NAVBAR ------------- */

    .navbar {
        border-radius: 0;
        background-color: rgb(25, 51, 77);
        border-color: rgb(25, 51, 77);
        margin-bottom: 0;
    }

    .nav-btn {
        border-color: rgb(115, 115, 115) !important;
    }


    /* ---------- MAIN SECTION ----------- */


    .row:not(.weather-info) {
       height: 100vh;
    }

    .background-img {
         background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0 ,0 , 0.5)), to(rgba(0, 0 ,0 , 0.5))), url("/assets/img/bmail.jpg");
         background-image: linear-gradient(rgba(0, 0 ,0 , 0.5), rgba(0, 0 ,0 , 0.5)), url("/assets/img/bmail.jpg");
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover ;
    }


    /* ---------- NAV-PILLS MENU ----------- */

    .main .nav {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: rgb(239, 153, 42);
        margin-left: -15px;
        margin-right: -15px;
    }

    .nav-pills {
        background-color: rgb(239, 153, 42) !important;
    }

    .nav-pills li.dropdown > a {
        background-color: rgb(239, 153, 42) !important;
        color: rgb(51, 51, 51) !important;
        border-radius: 0;
    }


    /* ---------- DROPDOWN MENU ----------- */

    ul.dropdown-menu {
        margin-top: 1px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border: 0;
        background-color: rgba(225, 225, 225);
        padding: 4px 1px;
        width: 100%;
    }

    ul.dropdown-menu li {
        height: 42px;
    }

    ul.dropdown-menu li:not(:last-child){
        padding-bottom: 3px;
    }

    ul.dropdown-menu li a {
        border-radius: 3px ;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    ul.dropdown-menu li a:hover {
        background-color: rgb(245, 245, 245);
    }

    li.menu-link a {
        display: none;
    }


    /* ---------- MEDIA QUERIES ----------- */

    @media screen and (min-width: 992px) {

         .main .nav {
             border-bottom-right-radius: 4px;
             border-bottom-left-radius: 4px;
             margin-left: 0;
         }

         .nav-pills {
             background-color: rgba(255, 255, 255, 0.7) !important;
             margin-top: 55px;
         }

         .nav-pills li.dropdown > a {
             display: none ;
         }

         .nav-pills li a {
             color: rgb(51, 51, 51) !important;
         }

         .nav-pills li.menu-link a {
             display: block;
         }

         .nav-pills li.active {
             margin-top: 0;
         }

         .nav-pills li.active a {
             background-color: rgb(239, 153, 42) !important;
             border-radius: 0;
             cursor: default ;
         }

         .caret {
             visibility: hidden;
         }

          ul.dropdown-menu {
             visibility: hidden;
         }

     }

