     html {
        font-family: 'Lato', sans-serif;
    }

    .row {
        margin: 0;
    }

    .background-img {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0 ,0 , 0.5)), to(rgba(0, 0 ,0 , 0.5))), url("/assets/img/bmail.jpg");
        background-image: linear-gradient(rgba(0, 0 ,0 , 0.5), rgba(0, 0 ,0 , 0.5)), url("/assets/img/bmail.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    .login{
        padding: 0;
        width: 250px;
        height: 228px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .panel{
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        width: 250px;
        height: 228px;
    }

    .panel-heading{
        font-size: 16px;
        background-color: rgba(239, 153, 42, 0.7);
        color: rgb(64, 64, 64);
    }

    h4 {
        color: rgb(192, 192, 192);
    }

    h4.greeting-1 {
        margin-top: 30px;

    }

    h4.greeting-2 {
        margin-top: 32px;
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
        color: rgb(192, 192, 192);
    }

    p.log-in {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    p.log-out {
       margin-top: 35px;
       margin-bottom: 35px;
    }

    .btn {
        padding: 6px 14px;
        background-color: rgba(239, 153, 42, 0.7);
        color: rgb(64, 64, 64);
    }

     .login-btn {
        margin-bottom: 25px;
    }


     /* ---------- MEDIA QUERIES ----------- */

    @media screen and (min-width: 768px) {

        .login {
            width: 345px;
            height: 258px;
        }

        .panel {
            width: 345px;
            height: 258px;
        }

        .panel-heading, p {
            font-size: 20px;
        }

        h4{
            font-size: 22px;
        }

        h4.greeting-2 {
            margin-top: 42px;
        }

        p.log-out {
           margin-top: 45px;
           margin-bottom: 45px;
        }

        .btn {
            font-size: 16px;
        }

    }






