
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/base.css">
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle nav-btn" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/bmail">Bmail</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>


        <div class="container-fluid main background-img">
            <div class="row ">
                <div class="col-md-3 col-xs-12">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="/bmail">Inbox</a></li>
                                <li><a href="/compose">Compose</a></li>
                                <li><a href="/sent">Sent Messages</a></li>
                                <li><a href="/weather">Weather</a></li>
                            </ul>
                        </li>
                        <li class="active menu-link"><a href="#">Menu</a></li>
                        <li class="menu-link"><a href="/bmail">Inbox</a></li>
                        <li class="menu-link"><a href="/compose">Compose</a></li>
                        <li class="menu-link"><a href="/sent">Sent Messages</a></li>
                        <li class="menu-link"><a href="/weather">Weather</a></li>
                    </ul>
                </div>

                {% block content %} {% endblock %}
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
