
    {% extends "base.html" %}

    {% block title %}Bmail{% endblock %}

    {% block head %}
        {{ super() }}
        <style type="text/css">

             h4 {
                  color: rgb(205, 205, 205);
                  text-shadow: 2px 0 rgb(51, 51, 51);
                  margin-top: 60px;
             }

             .table-fixed {
                  background-color: rgba(255, 255, 255, 0.7);
                  font-size: 11px;
              }

             .table-fixed thead{
                  background-color: rgba(0, 0, 0, 0.35);
             }

             .table-fixed tbody tr:last-of-type td {
                  -webkit-column-span: all !important;
                  column-span: all !important;
             }



             /* ---------- MEDIA QUERIES ----------- */

               @media screen and (min-width: 480px) {

                    h4 {
                       font-size: 20px;
                    }

                    .table-fixed {
                        font-size: 12px;
                    }
               }

               @media screen and (min-width: 768px) {

                    h4 {
                        font-size: 24px;
                    }

                    .table-fixed {
                        font-size: 14px;
                    }
               }

         </style>
    {% endblock %}


    {% block content %}
        <div class="col-md-9 col-xs-12 ">
            <div class="container-fluid">
                <h4>Messages</h4>
                <table class="table table-hover table-fixed">
                    <thead>
                        <tr>
                            <th class="col-sm-3 col-xs-3">Author</th>
                            <th class="col-sm-6 col-xs-4">Message</th>
                            <th class="col-sm-2 col-xs-3">Date</th>
                            <th class="col-sm-1 col-xs-2">Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for message in messages %}
                        <tr>
                            <td class="col-sm-3 col-xs-3"><strong><a href="mailto:{{message.email}}">{{ message.author }}</a></strong></td>
                            <td class="col-sm-6 col-xs-4"><em>{{ message.message }}</em></td>
                            <td class="col-sm-2 col-xs-3">{{ message.created.strftime('%d. %m. %Y, %H:%M') }}</td>
                            <td class="col-sm-1 col-xs-2"><a href="/message/{{message.key.id()}}/delete">delete</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No messages yet.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    {% endblock %}