

      {% extends "base.html" %}

      {% block title %}Compose Mail{% endblock %}

      {% block head %}
           {{ super() }}
           <style type="text/css">

                .compose-box {
                     margin-top: 95px;
                     margin-bottom: 95px;
                }

                .compose-box label {
                     color: rgb(235, 235, 235);
                     margin-bottom: 5px !important;
                }

           </style>
      {% endblock %}


      {% block content %}
          <div class="col-md-7 col-md-offset-1 col-xs-10 col-xs-offset-1">
              <div class="container-fluid">
                  <div class="compose-box">
                      <form class="form-horizontal" method="post" action="/sent">
                          <div class="form-group">
                              <label class="control-label col-md-2" for="email">To:</label>
                              <div class="col-md-10">
                                  <input type="email" class="form-control input-sm" name ="sent_to" id="email" >
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label col-md-2" for="sender">From:</label>
                              <div class="col-md-10">
                                  <input type="email" class="form-control input-sm" id="sender" >
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label col-md-2" for="subject">Subject:</label>
                              <div class="col-md-10">
                                  <input type="text" class="form-control input-sm" id="subject" >
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label col-md-2" for="message">Message:</label>
                              <div class="col-md-10">
                                  <textarea class="form-control input-sm" rows="7"  name ="sent_message" id="message"></textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-offset-2 col-md-10">
                                  <button type="submit" class="btn send-btn">Send</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      {% endblock %}