
<!DOCTYPE html>
<html>
    <head>
        <title>Delete Message</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <style>

            html {
               font-family: 'Lato', sans-serif;
            }

            .row {
                margin: 0;
            }

            .background-img {
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0 ,0 , 0.5)), to(rgba(0, 0 ,0 , 0.5))), url("/assets/img/bmail.jpg");
                background-image: linear-gradient(rgba(0, 0 ,0 , 0.5), rgba(0, 0 ,0 , 0.5)), url("/assets/img/bmail.jpg");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100vh;
            }

            .delete-msg {
                padding: 0;
                min-width: 280px;
                height: 228px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            .alert {
                background-color: rgba(0, 0, 0, 0.65);
            }

             .alert span {
               color: rgb(239, 153, 42);
            }

            .alert p {
               font-size: 14px;
               color: rgb(192, 192, 192);
               margin-top: 10px;
               margin-left: 10px;
            }

            .btn-close {
               opacity: 0.7;
            }

            .alert form .btn {
               font-size: 12px;
               background-color: rgb(239, 153, 42);
               margin-top: 15px;
            }



           /* ---------- MEDIA QUERIES ----------- */

            @media screen and (min-width: 768px) {

                .delete-msg {
                    width: 500px;
                }

                .alert p {
                   font-size: 18px;
                }

                .alert form .btn {
                  font-size: 16px;
                }
            }

        </style>
    </head>

    <body>
        <div class="row background-img">
            <div class="container text-center delete-msg">
                <div class="alert alert-dismissible text-center" role="alert">
                    <a href="/sent" class="close btn-close" data-dismiss="alert" aria-label="Close" >
                       <span aria-hidden="true">&times;</span>
                    </a>
                    <br>
                    <p>Do you really want to delete this message?</p>
                    <br>
                    <form action="/message/{{ message.key.id() }}/delete" method="post">
                        <button type="submit" class="btn">YES, delete</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
