
<!DOCTYPE html>
<html>
    <head>
        <title>Boogle &#124; Bmail</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    </head>

    <body>
        <div class="row background-img">
            <div class="container text-center login">
                <div class="panel text-center">
                    <div class="panel-heading">Bmail Login</div>
                    <div class="panel-body transparent">
                        {% if logged_in %}
                        <h4 class="greeting-2">Hello, {{ user.nickname() }}!</h4>

                        <p class="log-out"><a href="{{ logout_url }}" class="btn" role="button">Log out</a>
                            <a href="/bmail" class="btn" role="button">My account</a>
                        </p>

                        {% else %}
                        <h4 class="greeting-1">Hello, user!</h4>
                        <p class="log-in">Please Login:</p>
                        <a href="{{ login_url }}" class="btn login-btn" role="button">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>


