        {% extends "base.html" %}

        {% block title %}Sent Messages{% endblock %}

        {% block head %}
            {{ super() }}
            <style type="text/css">

                h4 {
                    color: rgb(205, 205, 205);
                    text-shadow: 2px 0 rgb(51, 51, 51);
                    margin-top: 60px;
                }

                .table-fixed {
                    background-color: rgba(255, 255, 255, 0.7);
                    font-size: 10px;

                }

                .table-fixed thead{
                    background-color: rgba(0, 0, 0, 0.35);
                }

                .table-fixed thead > tr > th {
                    border-bottom: none;
                }

                .table-fixed tbody {
                    max-height: 350px;
                    overflow-y: auto;
                    width: 100%;
                }

                .table-fixed thead,
                .table-fixed tbody,
                .table-fixed tr,
                .table-fixed td,
                .table-fixed th {
                    display: block;
                }


                .table-fixed tr:after {
                    content: "";
                    display: block;
                    visibility: hidden;
                    clear: both;
                }

                .table-fixed tbody > tr > td,
                .table-fixed thead > tr > th {
                    float: left;
                }

                .table-fixed tbody > tr > td:first-child {
                    overflow: hidden;
                    white-space : nowrap;
                    text-overflow: ellipsis;
                }

                .table-fixed tbody > tr > td:nth-child(3),
                .table-fixed tbody > tr > td:nth-child(4){
                    font-size: 8px;
                }

                .table-fixed tbody tr:last-of-type td {
                    -webkit-column-span: all !important;
                    column-span: all !important;
                }


               /* ---------- MEDIA QUERIES ----------- */

                @media screen and (min-width: 480px) {

                    h4 {
                       font-size: 20px;
                    }

                    .table,
                    .table-fixed tbody > tr > td:nth-child(4){
                        font-size: 12px;
                    }

                    .table-fixed tbody > tr > td:nth-child(3){
                        font-size: 10px;
                    }

                }

                @media screen and (min-width: 768px) {

                    h4 {
                       font-size: 24px;
                    }

                    .table-fixed {
                        font-size: 14px;
                    }

                    .table-fixed thead > tr > th:nth-child(3){
                        padding-right: ;
                    }

                    .table-fixed tbody > tr > td:nth-child(3),
                    .table-fixed tbody > tr > td:nth-child(4){
                        font-size: 11px;
                    }

                }

                 @media screen and (min-width: 992px) {

                    .table-fixed tbody > tr > td:nth-child(3),
                    .table-fixed tbody > tr > td:nth-child(4){
                        font-size: 12px;
                    }
                }
            </style>
        {% endblock %}


        {% block content %}
            <div class="col-md-9 col-xs-12">
                <div class="container-fluid">
                    <h4>Sent Messages</h4>
                        <table class="table table-hover table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-sm-3 col-xs-3">For</th>
                                    <th class="col-sm-5 col-xs-4">Message</th>
                                    <th class="col-sm-2 col-xs-3">Date</th>
                                    <th class="col-sm-2 col-xs-2">Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for message in sentmail_list %}
                                <tr>
                                    <td class="col-sm-3 col-xs-3"><strong><a href="mailto:{{message.sent_to}}">{{ message.sent_to }}</a></strong></td>
                                    <td class="col-sm-5 col-xs-4"><em>{{ message.sent_message }}</em></td>
                                    <td class="col-sm-2 col-xs-3">{{ message.created.strftime('%d. %m. %Y, %H:%M') }}</td>
                                    <td class="col-sm-2 col-xs-2"><a href="/message/{{message.key.id()}}/delete">Delete</a>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">No sent messages yet.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    <br>
                </div>
            </div>
       {% endblock %}
