
      {% extends "base.html" %}

      {% block title %}Weather{% endblock %}

      {% block head %}
           {{ super() }}
           <style type="text/css">

                .search-city {
                    margin-top: 55px;
                }

                label {
                    color: rgb(242, 242, 242);
                }

                .city {
                    padding-right: 2px;
                }

                .country {
                    margin-left: 14px;
                    padding-right: 2px;
                }

                .weather-btn {
                    padding: 4px 10px;
                }

                h3 {
                    color: rgb(242, 242, 242);
                    margin-top: 65px;
                }

                p {
                    font-size: 16px;
                    color: rgb(242, 242, 242);
                }



                /* ---------- MEDIA QUERIES ----------- */

                @media screen and (min-width: 768px) {

                    .search-city {
                        margin-top: 150px;
                    }

                    h3 {
                       font-size: 30px;
                    }

                    p {
                        font-size: 26px;
                    }
                }


                @media screen and (min-width: 992px) {
                    .search-city {
                        margin-top: 95px;
                    }
                }
            </style>
      {% endblock %}


      {% block content %}
         <div class="col-md-9 col-xs-12">
             <div class="container-fluid text-center">
                 <div class="row weather-info">
                     <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
                         <form class="form-inline search-city" method="get">
                             <div class="form-group ">
                                <label class="control-label city" for="q">City</label>
                                <input class="form-control input-sm" name="q" id="q" type="text">
                             </div>
                             <div class="form-group">
                                <label class="control-label country" for="c">Country</label>
                                <input class="form-control input-sm" name="c" id="c" type="text">
                             </div>
                             <button type="submit" class="btn btn-default weather-btn">Search</button>
                         </form>
                     </div>
                 </div>
             </div>

             <div class="container-fluid text-center weather-data">
                 <h3>Current Weather for {{ data.name }}, {{ data.sys.country }} </h3>
                 <br>
                 <br>
                 <p><strong>Description:</strong> {{ data.weather[0].description }}
                     <img src="http://openweathermap.org/img/w/{{ data.weather[0].icon }}.png" height="40"></p>
                 <p><strong>Temperature:</strong> {{ data.main.temp }} °C</p>
                 <p><strong>Wind:</strong> {{ data.wind.speed }} m/s</p>
             </div>
         </div>
      {% endblock %}
